.mainContent {
    background-color: white;
    padding-left: 0;
    font-family: Menlo, Inconsolata, Hack, "SF Mono", "Roboto Mono", "Source Code Pro", "Ubuntu Mono", monospace;
    font-weight: var(--bulma-body-weight);
    font-size: 14px;
}

.yamlPath {
    position: fixed;
    top: 0;
    color: gray;
    background-color: white;
    padding: 0px;
    width: 100%;
    z-index: 1;
}

.yamlValue {
    overflow: hidden;
    text-overflow: ellipsis;
}

.yamlKey {
    white-space: nowrap;
}

.yamlArray {
    list-style-type: none;
}

.yamlArray>li:before {
    content: "\2013";
    vertical-align: top;
    position: absolute;
    z-index: 0;
    background-color: white;
}

.yamlArrayEntry {
    margin-left: 1.5rem; /* same as indent step */
}