.header {
  min-height: 80vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

a.newTab {
  padding-top: 0;
  padding-bottom: 0;
}

.tabClose {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 5px;
}

a.tabMenuItem {
  border-radius: 0;
  position: relative;
  padding-right: 30px;
}

a.tabMenuItem:hover .tabClose {
  display: inline;
}

iframe.content {
  width: 100%;
  height: 99.3vh;
}