.browser {
  height: 100vh;
  overflow-y: clip;
}

.tabColumn {
  background-color: hsl(0, 0%, 94%);
}

.tabList {
  margin-top: 44px;
  height: 100vh;
}

a.newTab {
  padding-top: 0;
  padding-bottom: 0;
  background-color: hsl(0, 0%, 94%);
}

.tabClose {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 5px;
}

a.tabMenuItem {
  border-radius: 0;
  position: relative;
  padding-right: 30px;
  background-color: hsl(0, 0%, 94%);
  max-width: 15rem;
}

.tabMenuItem.isActiveAlt, .tabMenuItem.isActiveAlt:hover {
  background-color: white;
}

.newTab:hover, .tabMenuItem:hover {
  background-color: hsl(0, 0%, 98%);
}

.tabMenuItem:hover .tabClose {
  display: inline;
}

.tabMenuItem .namespace, .tabMenuItem .context {
  /* color: hsl(0, 0%, 29%); */
  font-size: 0.6rem;
}

.debugPath {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

.inactive {
  /* "hiding" with z-index preserves scroll position and avoids seeing a blank
     space when a tab is selected. */
  z-index: -1;
}