.navSection {
    padding-top: 42px;
    padding-left: 25px;
}

.queryInput {
    max-width: 25em;
}

.pageBody {
    padding-top: 0;
}

.backfwd {
    /* bulma body color to match text */
    color: rgb(64, 70, 84);
}